@model MyShop.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    @foreach (var prod in Model.Products)
    {
        <partial name="_ProductCard" model="prod"/>
    }
</div>
