@model MyShop.Models.Product


<div class="card" style="width: 18rem;">
    <img src="\@PathManager.ImageProductPass@Model.Image" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">
            @Model.ShortDescription
        </p>
        <a href="#" class="btn btn-primary">Details</a>
    </div>
</div>