@model MyModel

<h1 class="text-light">Add Models</h1>

<form method="post" asp-action="Create">
    <p>
        <label asp-for="Name" class="text-light"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </p>

    <p>
        <label asp-for="Number" class="text-light"></label>
        <input asp-for="Number" class="form-control" />
        <span asp-validation-for="Number" class="text-danger"></span>
    </p>

    <p>
        <input type="submit" class="btn btn-success" value="Create" />
        <a class="btn btn-primary" asp-controller="MyModel" asp-action="Index"> Back </a>
    </p>

    <p>
        <div asp-validation-summary="All"></div>
    </p>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }

