@model MyModel

<h1>Delete Model</h1>

<form method="post" asp-action="DeletePost">

    
    <input asp-for="Id" hidden />

    <p>
        <label asp-for="Name"></label>
        <input disabled asp-for="Name" class="form-control" />
    </p>

    <p>
        <label asp-for="Number"></label>
        <input disabled asp-for="Number" class="form-control" />
    </p>

    <p>
        <input type="submit" class="btn btn-danger" value="Delete" />
        <a class="btn btn-primary" asp-controller="MyModel" asp-action="Index"> Back </a>
    </p>
</form>

