@model IEnumerable<MyModel>

@{
    ViewData["Title"] = "MyModel";
}

<h1>Hello MyModel!</h1>


<p>
    <a class="btn btn-primary" asp-controller="MyModel" asp-action="Create">
        <i class="fa-solid fa-plus"></i> Create Model
    </a>
</p>


@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Model Name</th>
                <th>Model Number</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td width="50%">@item.Name</td>
                    <td width="30%">@item.Number</td>

                    <td width="20%">
                        <a class="btn btn-primary" asp-controller="MyModel" asp-action="Edit"
                   asp-route-Id="@item.Id">
                            <i class="fa-solid fa-pen-to-square"></i>
                           
                        </a>

                        <a class="btn btn-danger" asp-controller="MyModel" asp-action="Delete"
                   asp-route-Id="@item.Id">
                            <i class="fa-solid fa-tresh"></i>
                           
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}