@model MyShop_Models.Models.ViewModels.QueryViewModel





<form method="post">
    <input hidden asp-for="QueryHeader.Id"/>
    <a asp-action="Index" class="btn btn-success">Back to queries</a>
    <h2 class="text-light">Information</h2>
    <table>
        <tr>
            <td class="text-light">Name</td>
            <td><input asp-for="QueryHeader.FullName" type="text" class="form-control"/></td>
        </tr>
         <tr>
            <td class="text-light">Phone</td>
            <td><input asp-for="QueryHeader.PhoneNumber" type="text" class="form-control"/></td>
        </tr>
        <tr>
            <td class="text-light">Email</td>
            <td><input asp-for="QueryHeader.Email" type="text" class="form-control" /></td>
        </tr>
        <tr>
            <td class="text-light">QueryDate</td>
            <td><input asp-for="QueryHeader.QueryDate" type="text" class="form-control" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Change" class="form-control btn btn-primary "/></td>
            
            <td><input type="submit" formaction="/Query/Delete" value="Delete" class="form-control btn btn-danger " /></td>
            
        </tr>
        
    </table>
    <br/>
    <h2 class="text-light">Details</h2>
    @foreach(var item in Model.QueryDetails){
        <!--<h5 class="text-light">Product Name: @item.Product.Name</h5>
        <p class="text-light">Price: @item.Product.Price руб.</p>-->
        <partial name="_CartProductCard" model="item.Product"/>
    }
    

</form>
