<div>
    <div>
        <h1>Query</h1>
    </div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>PhoneNumber</th>
                <th>Email</th>
            </tr>
        </thead>
    </table>
</div>
