<div>
    <div>
        <h1>Query</h1>
    </div>
    <table id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts{

<script src="~/js/query.js"></script>

}
