<div >
    <div>
        <h1 class="text-light">Query</h1>
    </div>
    <div class="bg-light">
        <table id="myTable" >
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>PhoneNumber</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
    
</div>
@section Scripts{

<script src="~/js/query.js"></script>

}
